*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    margin: 0px auto;
    width: 900px;
    overflow: hidden;
    background-color: darkgreen;
    color: lightgreen;
}
h1{
    font-family: "Arial", sans-serif;
    font-size: 2em;
}
